.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    display: flex;
    align-items: center;
}

.title {
    float: left;
    margin: 20px 15px;
    font-size: 25px;
}

.title a {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: #4c4c4c;
}

.logout {
    position: absolute;
    right: 20px;
    margin: auto;
    cursor: pointer;
}

.cardList {
    padding: 15px;
    background: #fafafa;
    width: 100%;
    height: 100%;
}

.card {
    background: white;
    max-width: 720px;
    border: 1px solid #e6e6e6;
    padding: 15px;
}

.cardTitle {
    margin-bottom: 5px;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.cardDescription {
    margin-top: 5px;
    font-size: 15px;
}