.wrapper {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background: url("../../images/aga_putra_125108.jpg") no-repeat;
    background-size: cover;
}

.title {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    display: block;
    margin: 0 0 15px;
    color: #656161;
}

.formWrapper {
    width: 360px;
    padding: 50px;
    border: 1px solid #e6e6e6;
    background: rgb(255, 255, 255);
}

.input {
    outline: 0;
    width: 100%;
    margin: 0 0 15px;
    padding: 10px;
    font-size: 14px;
}

.button {
    text-transform: uppercase;
    outline: 0;
    background: #292828;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.message {
    margin: 15px 0 0;
    text-align: center;
    color: #c74343;
    font-size: 12px;
}